body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(236, 230, 205);
}
.calculator {
    width: 2000px;
    text-align: center;
}
h1, .phormula{
    display: flex;
    align-items:center;
    justify-content:center;
}

h1 {
    font-size: 27px;
}
.p1 {
    font-size: 23px;
}
.phormula {
    font-size: 24px;
}
p {
font-size: 20px;
}
label {
    font-size: 20px;
}
.phorm {
    margin-left: 5px;
    margin-right: 5px;
}
.verh {
    border-bottom: 1px solid black;
}
button {
    margin-bottom: 7px;
    margin-top: 10px;
    background-color: rgb(163, 216, 163);
    font-size: 15px;
}