header{
    width: 2000px;
    background-color: rgb(14, 11, 11);
    height: 140px;
}
.logo{
    display: inline-block;
    height: 100px;
    vertical-align: top;  
    
}
.title {
    display:inline-block;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    margin-left: 500px;
    margin-top: 40px; 
    word-spacing: 8px;
}

body {
    background-color:rgb(24, 22, 22);
}

.uppernavigation {
    line-height: 50px;
    background-color: rgb(170, 45, 45);
    margin-bottom: 20px;
    text-align: center;
    font-size: 17px;
}

.uppernavigation li {
    list-style: none;
    display: inline-block;
}
.uppernavigation li a {
    text-decoration: none;
    padding: 50px;

}
.uppernavigation li a:hover {
    color: black;
    text-decoration: none;
    cursor:pointer;
}

.h1,h2,h3,a,p {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    text-align: start;
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    letter-spacing: .5px;
    word-spacing: 3px;
}
.leftcontent {
    display: inline-block;
    line-height: 27px;
    letter-spacing: .3px;
}
.d1 {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 13px; 
}
.leftcontent h3 {
    color: rgb(196, 60, 60);
    font-weight: bold ;
    font-size: 20px;
    padding-bottom: 9px;
    }

.p1 {
    padding-bottom: 9px;
    color: rgb(155, 143, 143); 
}
    
.preview{
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    padding-left: 200px;
    margin-bottom: 20px;
    margin-top: 15px;
}
.preview_img{
    display: block;
    width: 200px;
    height: 270px;
    padding-bottom: 3px;
}
.preview a {
    color:rgb(170, 45, 45);
    font-size: 17px;
    font-weight: bold;
}
.preview a:hover {
    color:whitesmoke;
}


footer{
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    margin-top: 25px;
    background-color:rgb(14, 11, 11) ;
   
}
footer a {
    list-style:none;
    text-decoration: none;
}

footer a:hover {
    color:rgb(170, 45, 45)
}
