.wrapper{ 
    display: flex;   
    height: 900px; 
    flex-wrap: wrap;
    align-content: flex-end;
    width: 900px;
} 
.froggygreen{ 
    background-color: green; 
    width: 150px; 
    height: 150px; 
    border: 1px solid black; 
} 